---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";

import arrowRightDark from '/src/img/arrow-right-dark.svg?raw';

import Button from '../../components/Button.astro';

import discordLogo from '/src/img/Discord-Symbol-Blurple 1.svg';


// Fetch all posts from the 'posts' collection
const posts = await getCollection('posts');

// Sort posts by date (newest first)
const sortedPosts = posts.sort((a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime());
---

<Layout title="Dream - All posts">
  <Navigation />
  <header class="hero-home community-header">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">Join the Dreamers</h1>
        <p>Find out how people like you are growing with Dream.</p>
        <Button
        label="Join our community"
        class="discord-button"
        href="/what-we-do"
        target=""
        variant="secondary"
        size="medium"
      ><img src={discordLogo.src} alt="The Discord logo"></Button>
			</section>
		</div>
	</header>
  <main>

    <section class="post-list">
      <article class="content-container">
        <ul class="all-posts">
          {sortedPosts.map(post => (
            <li>
              <a href={`/posts/${post.slug}`} data-transition="page">
                <img src={post.data.featuredImage.src} />
                <h4>{post.data.postTitle}</h4>
                <p>{post.data.seoMetaDescription}</p>
                <span>Read more <Fragment set:html={arrowRightDark} /></span>
              </a>
            </li>
          ))}
        </ul>
      </article>
    </section>
  </main>
  <Footer />
</Layout>
