---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";

import arrowRightDark from '/src/img/arrow-right-dark.svg';
import arrowRight from '/src/img/new-arrow-right.svg';

import Button from '../../components/Button.astro';

import discordLogo from '/src/img/Discord-Symbol-Blurple 1.svg';


// Fetch all posts from the 'posts' collection
const posts = await getCollection('posts');

// Sort posts by date (newest first)
const sortedPosts = posts.sort((a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime());
---

<Layout title="Dream - Join the Dreamers in our community">
  <Navigation />
  <header class="hero-home community-header">
		<div class="hero-elements main-content">
			<section class="header-text content-title">
				<h1 class="page-title">Join the Dreamers</h1>
        <p>Find out how people like you are growing with Dream.</p>
        <Button
        label="Join our community"
        class="discord-button"
        href="https://discord.gg/UNYwC8Cu"
        target="_blank"
        variant="secondary"
        size="medium"
      ><img src={discordLogo.src} alt="The Discord logo"></Button>
			</section>
		</div>
	</header>
  <main>

    <section class="post-list">
      <article class="content-container">
        <ul class="all-posts">
          {sortedPosts.map(post => (
            <li>
              <a href={`/community/${post.slug}`} data-transition="page">
                <div class="post-image">
                  <img src={post.data.featuredImage.src} />
                </div>
                <div class="post-content">
                  <h4>{post.data.postTitle}</h4>
                  <p>{post.data.seoMetaDescription}</p>
                  <span class="button secondary">
                    Read more
                    <picture>
                      <source srcset={arrowRight.src} media="(prefers-color-scheme: dark)" />
                      <img src={arrowRightDark.src} alt="An arrow" role="presentation">
                    </picture>
                  </span>
                </div>
              </a>
            </li>
          ))}
        </ul>
      </article>
    </section>
  </main>
  <Footer />
</Layout>
