---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

import dreamLogo from '/src/img/dream-logo-new.svg';

import aboutHero from '/src/img/about-hero.png';

import shopIcon from '/src/img/shop-icon.svg';

import iconEmail from '/src/img/icon-email.svg';
import iconDiscord from '/src/img/icon-discord.svg';
import iconLinkedIn from '/src/img/icon-linkedin.svg';
import iconInstagram from '/src/img/icon-instagram.svg';
import iconTiktok from '/src/img/icon-tiktok.svg';
import iconYoutube from '/src/img/icon-youtube.svg';

import iconHelpChat from '/src/img/message-alert-circle.svg';

import HireGuyBlock from '../components/HireGuyBlock.astro';
---

<Layout title="Dream - About us">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text solo-header small-header">
				<Image
				src={aboutHero}
				alt="The Dream founders rendered as Dreamies"
				width={702}
				height={300}
				format="webp"
				/>
				<h1 class="page-title">We're bringing <span class="highlight-title">the promise of AI</span> to founders and small businesses</h1>
			</section>
		</div>
	</header>
	<main class="pinch-footer">
		<section class="main-content">
			<article class="content-container">
				<div class="text-container promo-about">
					<img src={shopIcon.src} alt="A simple icon of a small business">
					<h2>Backing SMBs to dominate</h2>
					<p>Small and medium businesses are the backbone of the economy — agile, inventive, and closer to their customers than any corporate giant. We believe that with the right support, they can set the pace for entire industries. Dream gives them that power, combining cutting-edge thinking with precise execution to help them operate at their best every day.</p>
					<p>At Dream we believe that when your business succeeds, we all succeed.</p>
					<img class="about-logo" src={dreamLogo.src} alt="The Dream logo">
				</div>

				<div class="text-container promo-about">
					<img src={iconHelpChat.src} alt="A simple icon of a speech bubble">
					<h2>Reach out to hear more</h2>
					<p>Get in touch for press enquiries, open positions, or just to say hello.</p>
					<ul class="contact-options" role="list">
						<li class="channel-item">
						  <a href="mailto:dream@usedream.ai" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconEmail.src} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Contact by Email</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://discord.gg/UNYwC8Cu" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconDiscord.src} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Join us on Discord</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.linkedin.com/company/dream-ai-employees" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconLinkedIn.src} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Find us on LinkedIn</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.instagram.com/usedream.ai?igsh=OTBmanJiMXpyNDll&utm_source=qr" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconInstagram.src} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Find us on Instagram</span>
						  </a>
						</li>
						<!-- <li class="channel-item">
						  <a href="/tiktok" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconTiktok.src} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Find us on Tiktok</span>
						  </a>
						</li> -->
						<li class="channel-item">
						  <a href="https://www.youtube.com/@usedream-ai" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconYoutube.src} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Watch us on Youtube</span>
						  </a>
						</li>
					  </ul>
				</div>
			</article>
		</section>
		</section>
		<HireGuyBlock />
	</main>
	
	<Footer/>
</Layout>