---
import Layout from '../layouts/Layout.astro';

import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
import Logo from '../components/Logo.astro';
import Footer from '../components/Footer.astro';

import { Image } from 'astro:assets';

import TabComponent from '../components/TabComponent.astro';

import introImage1 from '/src/img/intro-img-1.png';
import introImage2 from '/src/img/intro-img-2.png';
import introImage3 from '/src/img/intro-img-3.png';

import introIcon1 from '/src/img/intro-icon-1.svg';
import introIcon2 from '/src/img/intro-icon-2.svg';
import introIcon3 from '/src/img/intro-icon-3.svg';

import speedIcon1 from '/src/img/speed-icon-1.svg';
import speedIcon2 from '/src/img/speed-icon-2.svg';
import speedIcon3 from '/src/img/speed-icon-3.svg';

import arrowRightYellow from "/src/img/arrow-right-yellow.svg";
import arrowRightDark from "/src/img/arrow-right-dark.svg";

import slackIcon from "/src/img/slack.png";
import gCalIcon from "/src/img/g-cal.png";
import outlookIcon from "/src/img/outlook.png";
import salesforceIcon from "/src/img/salesforce.png";
import hubspotIcon from "/src/img/hubspot.png";
import msCalIcon from "/src/img/ms-cal.png";
import pipedriveIcon from "/src/img/pipedrive.png";
import calendlyIcon from "/src/img/calendly.png";
import gmailIcon from "/src/img/gmail.png";

import iconWide from '/src/img/partner-wide.png';

import "../styles/main.scss";
---

<Layout title="Target the right company, at the right time, with the right message">
	<Navigation />
	<header>
		<Logo />
		<div class="hero-elements main-content">
			<section class="header-text ">
				<h1 class="page-title">SDRs that target the right company,<br />
					at the right time, <br />
					with the right message</h1>
				<span>Dream’s AI-powered sales agents combine deep research about your prospects with custom targeting to give you perfectly tailored emails, sent 24/7</span>
				<Button 	
					label="Get started with Dream"
					href="https://calendly.com/cgdcowley/discovery-call-dream" 
					target="_blank"
				><img src={arrowRightYellow.src} role="presentation" /></Button>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content content-list">
				<article class="tools-section">
					<h2 class="section-heading">Faster growth with powerful, precise AI tools</h2>
					<div class="tools-grid">
						<!-- First row -->
						<div class="tool-container">
							<div class="tool-card">
								<div class="tool-icon">
									<img src={introIcon1.src} role="presentation">
								</div>
								<div class="tool-content">
									<h3 class="tool-title">Dream is your 24/7 <br />AI-powered SDR</h3>
									<p class="tool-description">Reach more prospects, faster. Without scaling your sales team. Dream lets you sell more starting today.</p>
								</div>
							</div>
							<div class="tool-image">
								<img src={introImage1.src} alt="Illustration of AI-powered SDR">
							</div>
						</div>
				
						<!-- Second row -->
						<div class="tool-container">
							<div class="tool-card">
								<div class="tool-icon">
									<img src={introIcon2.src} role="presentation">
								</div>
								<div class="tool-content">
									<h3 class="tool-title">Tailored messaging, <br />sent at the right time</h3>
									<p class="tool-description">Dream’s AI learns all about your prospects, crafting individual emails to each one. You set the timing, so each message lands exactly when needed.</p>
								</div>
							</div>
							<div class="tool-image">
								<img src={introImage2.src} alt="Illustration of tailored messaging">
							</div>
						</div>
				
						<!-- Third row -->
						<div class="tool-container">
							<div class="tool-card">
								<div class="tool-icon">
									<img src={introIcon3.src} role="presentation">
								</div>
								<div class="tool-content">
									<h3 class="tool-title">All you have to do is<br /> take the call</h3>
									<p class="tool-description">Your sales agents can handle outbound, replies, and booking meetings. Choose to manually approve messages, or let Dream handle it all autonomously.</p>
								</div>
							</div>
							<div class="tool-image">
								<img src={introImage3.src} alt="Illustration of call handling">
							</div>
						</div>
					</div>
				</article>
		</section>
		<section class="main-content content-row"> 
			<h2 class="section-heading">From prospect to pitch, Dream can handle it all</h2>
			<TabComponent />
		</section>
		<section class="main-content content-row"> 
			<article class="stats-box"> 
			<h2>Dream is your competitive <span>advantage</span></h2> 
			<ul class="stats-items"> 
				<li><span class="number">10x</span><p>Your pipeline generation</p> </li>
				<li><span class="number">25%</span><p>The cost vs a human</p> </li>
				<li><span class="number">0%</span><p>New hire risk</p> </li></ul> 
			</article> 
		</section>
		<section class="main-content content-row content-list">
			<article class="contrast-row content-row">
				<div class="content-list brand-partner">
						<div class="list-text">
							<h3>Plays nice with others</h3>
							<p>Automated from the first outreach to the first call. Dream meets you where you’re already working, creating messages, and booking meetings.</p>
							<p>Get started with existing lists from your CRM, then enhance them with Dream’s AI power.</p>
						</div>
						<div class="brand-icons">
							<img class="icons-wide" src={iconWide.src} />
							<ul>
								<li><img src={gmailIcon.src} alt="The gmail logo" /></li>
								<li><img src={outlookIcon.src} alt="The Outlook logo" /></li>
								<li><img src={calendlyIcon.src} alt="The Calendly logo" /></li>
								<li><img src={salesforceIcon.src} alt="The Salesforce logo" /></li>
								<li><img src={pipedriveIcon.src} alt="The Pipedrive logo" /></li>
								<li><img src={hubspotIcon.src} alt="The Hubspot logo" /></li>
								<li><img src={gCalIcon.src} alt="The Google Calendar" /></li>
								<li><img src={msCalIcon.src} alt="The Outlook calendar logo" /></li>
								<li><img src={slackIcon.src} alt="The Slack logo" /></li>
							</ul>
						</div>
				</div>
				</div>
			</article>
		</section>
		<section class="main-content content-row">
			<section class="speed-section">
				<h2 class="section-heading">From your speed, to light speed</h2>
				
				<div class="speed-grid">
					<!-- First card -->
					<div class="speed-card">
						<div class="speed-icon">
							<img src={speedIcon1.src} role="presentation">
						</div>
						<div class="speed-content">
							<h3 class="speed-title">Get setup</h3>
							<p class="speed-description">Craft your account with details on your products, services, and sales profiles. Build your ideal account setup and then sit back and let your agents draw on the information.</p>
						</div>
					</div>
			
					<!-- Second card -->
					<div class="speed-card">
						<div class="speed-icon">
							<img src={speedIcon3.src} role="presentation">
						</div>
						<div class="speed-content">
							<h3 class="speed-title">Stay in control</h3>
							<p class="speed-description">You’re in control of your campaigns. Dream lets you specify approvals over replies, escalations, or for all outbound messages. If you don’t like a message you can regenerate in seconds.</p>
						</div>
					</div>
			
					<!-- Third card with highlighted background -->
					<div class="speed-card highlight">
						<div class="speed-icon">
							<img src={speedIcon2.src} role="presentation">
						</div>
						<div class="speed-content">
							<h3 class="speed-title">Take off!</h3>
							<p class="speed-description">When you’re ready, switch your campaign to autopilot and let Dream bring you meetings. Track your campaign performance in real-time whilst Dream does the hard work. All that’s left for you to do is close!</p>
						</div>
					</div>
				</div>
			</section>
			
		</section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="https://calendly.com/cgdcowley/discovery-call-dream" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" /></Button> 
		</article>
	</section>
	<Footer />
</Layout>