---
import Layout from '../../layouts/Layout.astro';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import Lists from '/src/img/lists.svg';
import arrowRightLight from '/src/img/arrow-right-white.svg';


import listBuilding from '/src/img/list-building.png';
import searchExample from '/src/img/list-example-search.png';

import Button from '../../components/Button.astro';

import quoteGw from '/src/img/givewheel-logo.png';

---

<Layout title="Dream - List Building">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">List building <span>tailored</span> to your world.</h1>
				<span>Build and explore accurate target lists that go beyond simple searches. Use our industry specific searches to uncover hidden opportunities, and add deep research to learn about them.</span>
			</section>
			<section class="header-image">
				<object style="border-radius: 50%;" data={Lists.src} />
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
			<article class="content-container">
				<h4>Explore your whole world, and build deep, targeted lists</h4>
				<div class="tools-section">
					<div class="tools-grid">
						<div class="tool-container">
							<div class="tool-card">
								<div class="tool-content"> 
									<p>Dream’s sourcing agents uses advanced search techniques tailored to your industry, to find more companies, faster.</p> 
									<p>Search by criteria like company size and location, or go deeper and use our specialised search types like hiring, announcements, or for specific businesses.</p> 
									<p>Enhance your lists with research to easily reach the right companies.</p>
								</div> 
							</div>
							<div class="tool-image">
								<img src={listBuilding.src} alt="An illustration of two research questions over a table of results" />
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
		<section class="main-content">
			<article class="content-container">
				<h4>Unlock your audience with powerful features</h4>
				<div class="content-pair">
					<ul class="feature-list text-content">
						<li>Easily build lists in seconds. Our easy-to-use tools get you searching straight away.</li>
						<li>Create regular sourcing schedules and constantly bring in new companies.</li>
						<li>Use criteria searches to pull in data from over 70M companies with deep filtering.</li>
						<li>Find local businesses easily, and pull in data including Google Reviews, Business Type, and more.</li>
						<li>Search for hotels, and hotel groups. Instantly see average ADRs, group types, and classification.</li>
						<li>Dig deep into your lists with custom research, letting you drive targeted campaigns from one location.</li>
					</ul>
					<div class="image-content">
						<img src={searchExample.src} alt="An example of different search types for hotels and F&B">
					</div>
				</div>
			</article>
		</section>
		<section class="customer-quote main-content"> 
			<article class="quote-body"> 
				<blockquote> <p>“Before Dream, creating and sending personalized outreach took forever. Each email required hours of research and manual writing.</p> <p>Dream changed everything. It pulls in detailed prospect data, creating truly bespoke emails that hit the mark every time. It’s seamless—no more digging for info or second-guessing the message.</p> <p>Now, our outreach feels authentic, the responses are meaningful, and the best part? It’s incredibly easy to use.”</p> <cite> <span>Charlie Hart, Co-founder at Givewheel</span> <img src={quoteGw.src} alt="The logo for Givewheel"> </cite> 
				</blockquote> 
			</article> 
		</section>
	</main>
	<section class="final-cta"> 
		<article class="main-content cta-container"> 
			<h3>See what’s possible for your business</h3> 
			<p>Learn how Dream can 10X your growth. Book your personal meeting to explore our solutions.</p> 
			<Button variant="reverse" href="/book-meeting" target="_blank" label=""> Book your meeting <img src={arrowRightLight.src} role="presentation" alt="" loading="lazy"> </Button> 
		</article> 
	</section>
	<Footer variant="beside-cta"/>
</Layout>