---
import Layout from '../../layouts/Layout.astro';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import Button from '../../components/Button.astro';

import arrowRightLight from '/src/img/arrow-right-white.svg';

import cogs from '/src/img/cogs.svg';

import researchEngine from '/src/img/research-engine.png';


import chipIcon1 from '/src/img/icons/company-description.svg?raw';
import chipIcon2 from '/src/img/icons/company-size.svg?raw';
import chipIcon3 from '/src/img/icons/funding-round.svg?raw';
import chipIcon4 from '/src/img/icons/locations.svg?raw';
import chipIcon5 from '/src/img/icons/ceo-statements.svg?raw';
import chipIcon6 from '/src/img/icons/key.svg?raw';
import chipIcon7 from '/src/img/icons/recent-hiring.svg?raw';
import chipIcon8 from '/src/img/icons/open-roles.svg?raw';
import chipIcon9 from '/src/img/icons/key-customers.svg?raw';
import chipIcon10 from '/src/img/icons/market-focus.svg?raw';
import chipIcon11 from '/src/img/icons/target.svg?raw';
import chipIcon12 from '/src/img/icons/products-stock.svg?raw';
import chipIcon13 from '/src/img/icons/hotel-adr.svg?raw';
import chipIcon14 from '/src/img/icons/pms-booking.svg?raw';
import chipIcon15 from '/src/img/icons/hotel-group.svg?raw';
import chipIcon16 from '/src/img/icons/product-languages.svg?raw';
import chipIcon17 from '/src/img/icons/all-data.svg?raw';



---

<Layout title="Dream - Research Engine">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">High-quality data with <span>Research Engine.</span></h1>
				<span>Like HAL-9000 but with a better personality. Need to know what the CEO is writing about? Where they've got offices? Or a recent fundraising round? Our research engine gets you answers.</span>
			</section>
			<section class="header-image">
				<object data={cogs.src} />
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
				<article class="content-container">
					<h4>Research Engine, the data behind your decisions.</h4>
					<div class="tools-section">
						<div class="tools-grid">
							<div class="tool-container">
								<div class="tool-card">
									<div class="tool-content"> 
										<p>Getting actionable data for your industry is vital. But until now you've been reliant on inconsistent off-the-shelf information or manual processes.</p> 
										<p>Our research engine is built to understand your industry. By creating custom models you get relevant, contextual data that you can start using right away.</p>
										<p>Your customer data changes, and that's why we've built the research engine to generate buying signals as well as data. Connect your research to an outbound campaign and send the right message at the right time.</p>
									</div> 
								</div>
								<div class="tool-image">
									<img src={researchEngine.src} alt="An illustration of two research questions over a table of results" />
								</div>
							</div>
						</div>
					</div>
				</article>
		</section>
		<section class="main-content">
			<article class="content-container content-center">
				<h4>A world of information at your fingertips</h4>
				<div class="sequence-content"> 
					<div class="sequence-text"> 
						<p>Go beyond just LinkedIn data. We pull content from multiple public sources, giving you more insights to power your growth.</p>
						<h5>Unlock all these datapoints and more.</h5>
					</div> 
					<br>
					<ul class="chip-list">
						<li><span><Fragment set:html={chipIcon1} />Company description</span></li>
						<li><span><Fragment set:html={chipIcon2} />Company size</span></li>
						<li><span><Fragment set:html={chipIcon3} />Funding rounds and size</span></li>
						<li><span><Fragment set:html={chipIcon4} />Locations</span></li>
						<li><span><Fragment set:html={chipIcon5} />CEO Statements</span></li>
						<li><span><Fragment set:html={chipIcon6} />Key stakeholders</span></li>
						<li><span><Fragment set:html={chipIcon7} />Recent hiring</span></li>
						<li><span><Fragment set:html={chipIcon8} />Open roles</span></li>
						<li><span><Fragment set:html={chipIcon9} />Key customers</span></li>
						<li><span><Fragment set:html={chipIcon10} />Market focus</span></li>
						<li><span><Fragment set:html={chipIcon11} />Company's target demographic</span></li>
						<li><span><Fragment set:html={chipIcon12} />What products do they stock</span></li>
						<li><span><Fragment set:html={chipIcon13} />Hotel ADR</span></li>
						<li><span><Fragment set:html={chipIcon14} />PMS/ Booking-engine used</span></li>
						<li><span><Fragment set:html={chipIcon15} />Hotel Group & Classification</span></li>
						<li><span><Fragment set:html={chipIcon16} />Product languages</span></li>
						<li class="full-width"><span><Fragment set:html={chipIcon17} />...and any publicly available data</span></li>
					</ul>
					</div> 
				</div>
			</article>
		</section>
	</main>
	<section class="final-cta"> 
		<article class="main-content cta-container"> 
			<h3>See what’s possible for your business</h3> 
			<p>Learn how Dream can 10X your growth. Book your personal meeting to explore our solutions.</p> 
			<Button variant="reverse" href="/book-meeting" target="_blank" label=""> Book your meeting <img src={arrowRightLight.src} role="presentation" alt="" loading="lazy"> </Button> 
		</article> 
	</section>
	<Footer variant="beside-cta"/>
</Layout>