---
interface Props {
	label: string;
	href: string;
    target: string;
    size: 'small' | 'medium' | 'large';
    variant?: 'primary' | 'secondary' | 'reverse';
    class?: string;
}

const { label, href, target, variant = 'primary', size = 'small', class: extraClass = '', } = Astro.props;

import '../components/button.scss';
---

{variant === 'primary' && (
  <a
    class={`button${size === 'medium' ? ' medium' : ''}${size === 'large' ? ' large' : ''} ${extraClass}`}
    href={href}
    target={target}
  >
    {label}
    <slot />
  </a>
)}

{variant === 'secondary' && (
  <a
    class={`button secondary${size === 'medium' ? ' medium' : ''}${size === 'large' ? ' large' : ''} ${extraClass}`}
    href={href}
    target={target}
  >
    {label}
    <slot />
  </a>
)}

{variant === 'reverse' && (
  <a
    class={`button reverse${size === 'medium' ? ' medium' : ''}${size === 'large' ? ' large' : ''} ${extraClass}`}
    href={href}
    target={target}
  >
    {label}
    <slot />
  </a>
)}