---
interface Props {
	label: string;
	href: string;
    target: string;
    size: 'small' | 'medium' | 'large';
    variant?: 'primary' | 'secondary' | 'reverse';
}

const { label, href, target, variant = 'primary', size = 'small' } = Astro.props;

import '../components/button.scss';
---

{variant === 'primary' && (
    <a class={`button${size === 'medium' ? ' medium' : ''}${size === 'large' ? ' large' : ''}`} href={href} target={target}>
        {label}
        <slot />
    </a>
)}

{variant === 'secondary' && (
    <a class={`button secondary${size === 'medium' ? ' medium' : ''}${size === 'large' ? ' large' : ''}`} href={href} target={target}>
        {label}
        <slot />
    </a>
)}

{variant === 'reverse' && (
    <a class={`button reverse${size === 'medium' ? ' medium' : ''}${size === 'large' ? ' large' : ''}`} href={href} target={target}>
        {label}
        <slot />
    </a>
)}