---
interface Props {
    variant?: 'beside-cta' | 'standard';
}

const { variant = 'standard' } = Astro.props;

import '../components/footer.scss';

import Logo from './Logo.astro';

import iconDiscord from '/src/img/icon-discord.svg?raw';
import whatsApp from '/src/img/whatsapp-glyph.svg?raw';
import iconLinkedIn from '/src/img/icon-linkedin.svg?raw';
import iconInstagram from '/src/img/icon-instagram.svg?raw';
// import iconTiktok from '/src/img/icon-tiktok.svg?raw';
import iconYoutube from '/src/img/icon-youtube.svg?raw';

---

{variant === 'standard' && (
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-bottom">
                <Logo version="stacked" mode="mono" color="#ffffff"/>
                <p>AI Pros that help your business grow</p>
                <ul class="footer-social-links">
                <li class="channel-item">
						  <a href="https://chat.whatsapp.com/HqqA93vEHU3JQM0T3LKYJz" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={whatsApp} />
							<span class="channel-label visually-hidden">Join us on WhatsApp Communities</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.linkedin.com/company/dream-ai-employees" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconLinkedIn} />
							<span class="channel-label visually-hidden">Find us on LinkedIn</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.instagram.com/usedream.ai?igsh=OTBmanJiMXpyNDll&utm_source=qr" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconInstagram} />
							<span class="channel-label visually-hidden">Find us on Instagram</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.youtube.com/@usedream-ai" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconYoutube} />
							<span class="channel-label visually-hidden">Watch us on Youtube</span>
						  </a>
						</li>
              </ul>
            </div>
            <div class="footer-section">
              <h6>Your AI Pros</h6>
              <ul>
                <li><a href="/your-ai-pros/personal-pro">Personal Pro</a></li>
                <li><a href="/your-ai-pros/sales-pro">Sales Pro</a></li>
                {/* <li><a href="/your-ai-pros/head-of-marketing">Head of Marketing</a></li>
                <li><a href="/your-ai-pros/finance-manager">Finance Manager</a></li>
                <li><a href="/your-ai-pros/customer-services-manager">Customer Services Manager</a></li> */}
                <li><a href="/how-it-works">How they work</a></li>
              </ul>
          </div>   
          <div class="footer-section">
              <h6>Company</h6>
              <ul>
                <li><a href="/about-us">About Dream</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              </ul>
          </div>
            
        
        </div>
        <small>© 2025 Dream | All rights reserved</small>
    </footer>
  )}
  
  {variant === 'beside-cta' && (
  <footer class="footer cta-footer">
      <div class="footer-container">
          <div class="footer-bottom">
              <Logo version="stacked" mode="mono" color="#ffffff"/>
              <p>AI Pros that help your business grow</p>
              <ul class="footer-social-links">
                <li class="channel-item">
						  <a href="https://discord.gg/UNYwC8Cu" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconDiscord} />
							<span class="channel-label visually-hidden">Join us on Discord</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.linkedin.com/company/dream-ai-employees" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconLinkedIn} />
							<span class="channel-label visually-hidden">Find us on LinkedIn</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.instagram.com/usedream.ai?igsh=OTBmanJiMXpyNDll&utm_source=qr" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconInstagram} />
							<span class="channel-label visually-hidden">Find us on Instagram</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.youtube.com/@usedream-ai" class="channel-link" target="_blank" rel="noopener noreferrer">
							<img src={iconYoutube} alt="" aria-hidden="true" class="channel-icon" />
							<span class="channel-label visually-hidden">Watch us on Youtube</span>
						  </a>
						</li>
              </ul>
            </div>
          <div class="footer-section">
            <h6>Your AI Pros</h6>
              <ul>
                <li><a href="/your-ai-pros/personal-pro">Personal Pro</a></li>
                <li><a href="/your-ai-pros/sales-pro">Sales Pro</a></li>
                {/* <li><a href="/your-ai-pros/head-of-marketing">Head of Marketing</a></li>
                <li><a href="/your-ai-pros/finance-manager">Finance Manager</a></li>
                <li><a href="/your-ai-pros/customer-services-manager">Customer Services Manager</a></li> */}
              </ul>
          </div>   
          <div class="footer-section">
              <h6>Company</h6>
              <ul>
                <li><a href="/about-us">About Dream</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              </ul>
          </div>
          
      
      </div>
      <small>© 2025 Dream | All rights reserved</small>
  </footer>
)}
