---
interface Props {
	title: string;
}

const { title } = Astro.props;

import appleIcon from "/src/img/apple-touch-icon.png"
import favicon32 from "/src/img/favicon-32x32.png";
import favicon16 from "/src/img/favicon-16x16.png";
import webManifest from "/src/img/site.webmanifest";
import safariTab from "/src/img/safari-pinned-tab.svg";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href={appleIcon.src}>
		<link rel="icon" type="image/png" sizes="32x32" href={favicon32.src}>
		<link rel="icon" type="image/png" sizes="16x16" href={favicon16.src}>
		<link rel="manifest" href={webManifest.src}>
		<link rel="mask-icon" href={safariTab.src} color="#ffd601">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffd601">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
